OPENAI_API_KEY=""
# development
DOTENV_VAULT_DEVELOPMENT=""
DOTENV_VAULT_DEVELOPMENT_VERSION=2

# ci
DOTENV_VAULT_CI=""
DOTENV_VAULT_CI_VERSION=2

# staging
DOTENV_VAULT_STAGING=""
DOTENV_VAULT_STAGING_VERSION=2

# production
DOTENV_VAULT_PRODUCTION=""
DOTENV_VAULT_PRODUCTION_VERSION=2

#/----------------settings/metadata-----------------/
DOTENV_VAULT=""
DOTENV_API_URL=""
DOTENV_CLI=""
